{{define "content"}}
    <div class="row">
        <div class="small-8 columns small-centered">
            <section id="videoInput">
                <h3>Video Url</h3>
                <form name="frmVideoUrl" id="frmVideoUrl">
                    <input type="text" maxlength="42" size="42" id="videoUrl" name="videoUrl" value="http://www.youtube.com/watch?v=LkqiDu1BQXY" autofocus required/>
                </form>
            </section>
        </div>
    </div>

    <div class="row" id="videoEdit">

    </div>

    <div class="row" id="videoResult">

    </div>
{{end}}
