<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>YouTube Gif Creator</title>
        <meta name="description" content="YouTube Gif Creator lets you create gif animations from YouTube Videos.">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="static/css/foundation.min.css">
        <link rel="stylesheet" href="static/css/app.css">
        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="row">
            <div class="small-12 columns">
                <h1>YouTube Gif Creator</h1>
                <hr/>
            </div>
        </div>

        <div class="row">
            <div class="small-8 columns small-centered">
                <section id="videoInput">
                    <h3>Video Url</h3>
                    <form name="frmVideoUrl" id="frmVideoUrl">
                        <input type="text" maxlength="42" size="42" id="videoUrl" name="videoUrl" value="http://www.youtube.com/watch?v=LkqiDu1BQXY" autofocus required/>
                    </form>
                </section>
            </div>
        </div>

        <div class="row" id="videoEdit">

        </div>

        <div class="row" id="videoResult">

        </div>

        <footer class="row">
            <div class="small-12 columns">
                <hr/>
                <ul class="inline-list right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="static/js/vendor/underscore-1.4.4.min.js"></script>
        <script src="static/js/vendor/swfobject.js"></script>

        {{template "jsTemplates.html" .}}

        <script>var YTGifCreator = {};</script>
        <script src="static/js/api.js"></script>
        <script src="static/js/video.js"></script>
        <script src="static/js/app.js"></script>
        <script src="static/js/template.js"></script>
        <script src="static/js/main.js"></script>

    </body>
</html>
