<script type="template/underscore" id="tpl-video-edit">
    <h2>Gif Options</h2>

    <div id="ytplayerWrapper">
        <div id="ytplayer">You need Flash player 8+ and JavaScript enabled to view this video.</div>
    </div>
    <div id="videoEditControls"></div>
</script>

<script type="template/underscore" id="tpl-video-edit-controls">
    <form id="frmVideoEdit" name="frmVideoEdit">
        <label for="rngStart">Start: </label><br/>
        <input type="range" id="rngStart" name="rngStart" max="<%- data.duration %>" value="0"/>
        <br/>
        <label for="rngEnd">Stop: </label><br/>
        <input type="range" id="rngEnd" name="rngEnd" max="<%- data.duration %>" value="<%- data.duration %>" />
        <br/>
        <button>Create</button>
    </form>
</script>
